.inv-sidebar {
    width: 330px; /* Adjust width as needed */
    height: 100vh; /* Make sidebar full height of the viewport */
    background-color: #D7D7D7; /* Background color for the sidebar */
    color: white; /* Text color */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    position: fixed;
    left: 0;
    top: 0;

}

.inv-sidebar p{
    color: black;
}
/* Logo */
.inv-sidebar p img{
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 15px 0px 0px 30px;
}

/* Topic */
.inv-sidebar p h1{
    font-weight:250;
    font-size: 30px;
    margin-left: 115px;
    margin-top: -52px;

}


.inv-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 25px 0px 0px 15px;
    
}

.inv-sidebar ul li {
    padding: 5px;
    line-height:2cm;
    cursor: pointer;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.inv-sidebar ul li a{
    text-decoration: none;
    color: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inv-sidebar ul li:hover {
    background-color: #acacac; /* Change background color on hover */
    width: 300px;
    border-radius: 20px;
}

/* icon and li */
ul li svg {
    margin: 0 20px; 
}

/* Button */
.inv-navButton svg {
    margin: 0px 25px 0px 0px;
}

.inv-navButton{
    margin-left: 13px;
    background-color: #8B0000;
    border-radius: 10px;
    color: white;
    padding: 10px 58px 10px 30px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 60px;
}

.inv-navButton a {
    text-decoration: none;
    color: inherit;
}





