.create {
    width: 400px;
    height:auto;
    margin: 0 auto;
    top: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-top: 20px;
    
  }
  
  .create h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .create label {
    display: block;
    margin-bottom: 5px;
    width:100%;
  }

  .create  select{
    display: block;
    margin-bottom: 5px;
    width:100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
  }
  
 
  
  .create button {
    width: 100%;
    padding: 10px;
    background-color:rgb(245, 94, 39);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create button:hover {
    background-color: rgb(245, 94, 39);
  }
  
  .error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  
  .error {
    border: 1px solid var(--error);
  }

  input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }