.res h1 {
    text-align: center;
    font-size: 38px;
    color: #333;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}


/* Table style */
.restaurant table {
    width: 80%; /* Adjusted width */
    margin-top: 65px; /* Added margin to push the table down */
    margin-left: 275px; /* Moved the table to the right */
    border-collapse: collapse;
}

/* Table header style */
.restaurant th {
    background-color: #D1CCCC;
    padding: 12px; /* Reduced padding */
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-size: 16px; /* Reduced font size */
    font-family: 'Times New Roman', Times, serif;
}

/* Table body style */
td {
    padding: 8px; /* Reduced padding */
    border-bottom: 1px solid #84b0b4; /* Reduced border thickness */
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; /* Reduced font size */
}

/* Alternate row color */
tbody {
    background-color: #d7f3f2;
}

/* Button container style */
.button-container {
    display: flex; /* Use flexbox to align buttons */
    justify-content: center; /* Center align buttons */
    align-items: center; /* Align items vertically */
}

/* Button style */
/* Button style */
.delete-button {
    background-color: #8e1010; /* Red color for delete button */
    color: white;
    border: none;
    padding: 6px 8px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    font-size: 10px; /* Reduced font size */
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 4px; /* Add margin to buttons */
    border-radius: 5px; /* Reduced border radius */
    font-weight: 1000;
}

.update-button {
    background-color: #105c22; /* Green color for update button */
    color: white;
    border: none;
    padding: 6px 8px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    font-size: 10px; /* Reduced font size */
    cursor: pointer;
    border-radius: 5px; /* Reduced border radius */
    transition: background-color 0.3s;
    margin: 4px; /* Add margin to buttons */
}


/* Button hover style */
.delete-button:hover,
.update-button:hover {
    background-color: #ffa9a9;
    color: black;
    cursor: pointer;
}
